<nav id = "navbar">
    <div id="nav-contain">
        <div id="nav-home">
            <a href="/" id="navbar-name">Home</a>
        </div>

        <div id="nav-right">
            <a href="/projects">Projects</a>
            <a href="/posts">Posts</a>
        </div>

        <img src="/assets/icons/hamburger.svg" alt="hamburger" id="hamburger"/>
        <div id="nav-border"></div>
    </div>
</nav>

<div id="overlay">
    <span id="overlay-close">&times;</span>
    <div id="overlay-content">
        <a href="/projects">Projects</a>
        <a href="/posts">Posts</a>
    </div>
</div>